html {
    background: url(stereoscopic_nebula.png), black;
    background-attachment: fixed;
    color: #fdd;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 13pt;
    margin: 0;
}
body {
    background: black;
    max-width: 80ch;
    box-shadow: 0 0 35pt #424;
    margin: 0 auto;
    min-height: 100vh;
}
#e, #x, #o {
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}
#e { color: #fc0; text-shadow: 0.2ch 0 0 #db0; }
#x { color: #0ff; text-shadow: 0.2ch 0 0 #0dd; }
#o { color: #f0f; text-shadow: 0.2ch 0 0 #d0d; }
article { padding: 20pt; }
code {
    color: #4f4;
    font: monospace;
    font-size: 11pt;
}
pre > code {
    display: block;
    margin: 10pt 0;
    padding: 6pt 12pt;
    background: #191919;
    border: 1px solid #444;
    overflow-x: auto;
}
a[href*="//"]:after {
    content: "➚";
    font-size: 65%;
    vertical-align: super;
    text-decoration: none;
    display: inline-block; /* seems to be required for text-decoration: none; to work */
}
a, a:hover { color: #99f; }
a:visited { color: #c5c; }
ol { list-style-type: thai; }
/*ul { list-style-type: bengali; }*/
h1 {
    margin: 30pt 0;
    border-bottom: 1px solid #fdd;
}
.homepage-screenshots {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10pt;
    padding-bottom: 20pt;
}
.homepage-screenshots a img, a.exhibitlink img {
    box-shadow: 0 0 5pt #f36;
    border: 1px solid #f36;
    margin: 2pt;
    max-width: 100%;
}
.warning-wrapper {
    position: relative;
}
.warning-wrapper:after {
    content: "Epilepsy Warning";
    display: inline-block;
    position: absolute;
    color: red;
    bottom: 2pt;
    right: 5pt;
    margin: 5pt;
}
sup {
    color: #555;
}
.note {
    background: #191919;
    padding: 4pt 4pt;
    border: 4px double #444;
    font-size: 85%;
    font-style: italic;
}
.note ol, .note ul { padding-left: 1.3em; }
@media (min-width: 600px) {
    .note {
        margin: 10pt 30pt;
        padding: 6pt 12pt;
    }
    .note ol, .note ul { padding-left: 2em; }
}

/* Navigation bar */
nav {
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: flex;
}
nav a, nav a:visited {
    padding: 3pt 6pt;
    color: #99f;
    text-decoration: none;
    flex-grow: 1;
}
nav a:hover {
    background: #99f;
    color: #000;
    box-shadow: 0 0 10pt #99f;
}
nav a.active { text-decoration: underline; }

/* Exhibit Styling */
.exhibit {
    background: #000;
    box-shadow: 0 0 5pt #f36;
    border: 1px solid #f36;
    padding: 3pt;
    margin: 3pt;
    max-width: 35ch;
    flex: 1 100%;
}
.exhibit img {
    max-width: 100%;
}
.exhibit h3 {
    margin: 0 0 0 12pt;
}
.exhibit p, ol { margin: 0; }
.exhibit ol { padding-left: 1.2em; }
